* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: #3C3D37;
    opacity: 0.7;
}

.background {
    position: relative; /* Untuk membuat elemen anak di dalamnya */
    overflow: hidden; /* Agar konten tambahan tidak keluar */
    height: 100vh; /* Full height dari viewport */
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('rimbun.JPG');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(2px);
    opacity: 0.8;
    z-index: 0; /* Letakkan di belakang konten */
}

.penjelasan, header, .foto {
    position: relative; /* Agar tetap di atas background */
    z-index: 1; /* Pastikan di atas pseudo-element */
    color: white;
}

.penjelasan {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 90px;
    padding-right: 400px;
    padding-left: 20px;
}

.penjelasan img {
    width: 350px;
    margin-left: 900px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.Welcome {
    margin-top: 50px;
}

p{
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    z-index: 1;
}

.logo {
    display: block;
    width: 70px;
    height: 70px;
    background-image: url('hmif.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

ul {
    list-style-type: none;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;  
}

.lebih-banyak button {
    background-color: rgba(79, 100, 162, 0.8); 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    transition: all 0.3s ease; /* Efek transisi saat hover */
}

.lebih-banyak button:hover {
    background-color: rgba(19, 43, 94, 0.9); /* Warna hijau lebih gelap saat hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Shadow lebih besar saat hover */
}

.lebih-banyak {
    position: absolute;
    bottom: 50px; /* Jarak dari bawah */
    left: 50%;
    transform: translateX(-50%); /* Pusatkan secara horizontal */
    z-index: 1;
}

.main-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0 100px 0;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    font-size: 20px;
}

.title-inrotmation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.info img {
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    padding: 8px;
}

.main-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 50px;
    align-items: center;
    margin: 0;
    width: 100%;
}

.left-text {
    font-size: 30px;
}

.right-text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 400px;
    padding: 0;
}

.main-3 {
    display: flex;
    align-items: center;
    margin: 80px;
    background-color: #3882F6;
    color: white;
    padding: 20px 70px 20px 70px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-last {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    height: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgba(79, 100, 162, 0.8); 
    color: rgb(255, 255, 255); 
    border: 2px solid #bcb9b9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .button-last:hover {
    background-color: #3882F6;
    color: rgb(0, 0, 0);
  }

  footer{
    background-color: #1f2937;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 30px;
    width: 100%;
  }
  